
body{
    height:1000px;
    background: #f7ebd7;
    font-family: Arial;
    padding: 0px;
    min-height: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}

header {
    padding: 0px;
    background-color: #B2AC88;
    margin: 0;
}
#logo {
    position: relative;
}
#logo img {
    height: 100px;
    position: absolute;
    top: 5px;
    right: 10px;
}
#title {
    text-align: center;
    padding-top: 10px;
    padding-left: 40%;
    margin: 0%;
    font-size: 50px;
    width: max-content;
   
}

.centerAlign{
    
     margin-left: 30%;
     margin-right: 30%;
     background-color: #f1f1f1;
     border-radius: 20px;
    
}
#registerTitle {
    margin-top: 20px;
    margin: 10px;
    text-align: center;
}
.centerAlign label {
    margin-left: 20px;
}

.image h4 {
    text-align: center;
}
.registerForm input {
    background-color: #666161;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #fff;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: #fff;
    outline: none;
}
input[type=email], input[type=email]{
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #fff;
}
input[type=number], input[type=number]{
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #fff;
}
input[type=radio], input[type=radio]{
   
    width: 20%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    
    
   
    
}

.button{
    background-color: #77c071;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.5;
    text-decoration: none !important;
}
.button:hover{
    opacity: 1;
}
#loginlink {
    float: right;
}
/*log in specifics */
.login h1, h4 {
    text-align: center;
}
#line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}

#passValidMessage {
    font-size: small;
    display:contents;
    background-color: blue;
    color: #000;
    margin-right: 20px;
    padding: 20px;
    margin-top: 10px;
}
#passValidMessage p {
    padding: 5px 10px;
    font-size: small;
    margin: 0;
}
#passValidMessage h4{
    margin: 0;
}
#passValidMessage:hover {
    display: contents;
}
.valid {
    color: green;
}
.valid:before{
    position: relative;
    
    content: '\2611';
}
.invalid {
    color: red;
}
.invalid:before{
    position: relative;
   
    content: '\2612';
}
.messageBox {
    background-color: #f1f1f1;
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    
}
/*project specifics*/

.task-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
}

.completed {
    background-color: #e0e0e0;
}


/* Task list styling (customize as needed) */
#tasks {
    float: left;
    width: 300px;
    background-color:#666161;
    text-align: center; 
    margin-top: 10px;
    
    border-radius: 10px;
}
#task-form {
    width: 275px;
    margin-left: 12px;
}
#message-form {
    width: 275px;
    margin-left: 12px;
}
#messages {
    margin-left: 20px;
    float: left;
    width: 300px;
    background-color: #666161;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
   
}
ul.task-list {
    list-style: none;
    padding: 0;
}

li.task {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Messaging interface styling (customize as needed) */
ul.messages {
    list-style: none;
    padding: 0;
    display: none;
}

li.message {
    background-color: #d6e0f0;
    border: 1px solid #8aade0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/*home doc details*/
/*Create two unequal columns that float next to each other*/
/*Left column*/
.leftColumn {
    float: left;
    width: 65%;
    margin-left: 30px;
    
}
.rightColumn {
    float: right;
    width: 30%;
    padding-right: 5px;
}
/*add card effect for articles*/
.card {
    background: #f1f1f1;;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    
}


.row::after {
    content: "";
    display: table;
    clear: both;
}
.newProjForm{
    float: left;
    width: 35%;
    
    padding: 5%;
    border-radius: 5px;
    margin: 20px;
    background-color: #D9D9D9;
    position: static;
}


#projectFormTitle{
   margin: 0;
}

#projDeets {
    width:100%;
    background-color: #f1f1f1;
}



/*footer*/
footer {
    margin-top: 1000px;
    padding: 20px;
    background-color: #a2a182;
    color: #666161;
    text-align: center;
}
/*responsive layout*/
@media screen and (max-width: 800px) {
    .leftColumnHome,.rightColumnHome {
        width: 100%;
        padding: 0;
    }
}
@media  screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
/*User Account*/
.container {
    border-radius: 20px;
}
.container img {
    width: 100%;
    margin-bottom: 5px;
}
/*Settings page */
.containerSettings {
    width: 300px;
    float: left;
    background-color: #687259;
    margin: 10px;
    border-radius: 10px;
    height: 500px;
}
.tabShow h2 {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabShow input{
    border-radius: 5px;
    margin: 10px;
    width: 250px;
    margin-top: 5px;
}
.tabShow h1 {
    text-align: center;
}
#subButton {
    margin-top: 10px;
}
/* Side Panel menu */
.sidePanel {
    height: 300px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color: #687259;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
    border-radius: 5px;
}
.sidePanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidePanel a:hover {
    color: #f1f1f1;
}
.sidePanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #687259;
    color: white;
    padding: 10px 15px;
    border: none;
    opacity: 0.5;
    border-radius: 5px;
    margin: 5px;

}
.openbtn:hover {
    opacity: 1;
}
/*google button*/
.g-signin2 {
    margin-top: 5%;
    margin-left: 35%;
}