
body {
    background-image: url('projectimages/pexels-miguel-á-padriñán-19670.jpg'); /* Replace 'your-image.jpg' with the actual image file name and path */
    background-size: cover; /* Adjusts the image size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */  
    text-align: center;
    font-family:"Lucinda Console", 'Courier New', Courier, monospace;
}
form{
    padding: 20px; 
    background-color: #fff; /* Background color for the login box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    text-align: center;
    font-family:"Lucinda Console", 'Courier New', Courier, monospace;
    margin-top: 20px;
    scroll-margin-left: 20%;
    margin-right: 20%;
}

p{
    font-size: 14px;
    text-align: center;
    font-style: normal;
}
