
body, h1, h2, p, ul {
    margin: 1;
    padding: 0;
}

body {
    background-image: url('projectimages/saturn.jpg'); /* Replace 'your-image.jpg' with the actual image file name and path */
    background-size: cover; /* Adjusts the image size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 1020px;
}


.header {
    padding: 20px;
    background-color: #D9D9D9;
}
.logo {
    height: 40px;
    margin: 0;
}
#title {
    text-align: center;
    margin-top: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.5;
}
li a:hover {
    opacity: 1;
}
.active {
    background-color: #111;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c6e6f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px 0;
}

section h2 {
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #666161;
    text-align: center;
    padding: 10px;
}

/*change background color of the navigation bar*/
.topnav {
    overflow: hidden;
    background-color: #06216b79;
}
/*style the links in the nav bar*/
.topnav a{
    float:left;
    display: block;
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
/*change the color of the links while being hovered*/
.topnav a:hover {
    background-color: #5a0c882f;
    color: white;
}
/*supposed to highlight the current page*/
.topnav a.active{
    background-color: aliceblue;
    color: white;
}
/*search bar modi*/
.topnav input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
#loginlink {
    float: right;
}