body, h1, h2, p, ul {
    margin: 1;
    padding: 0;
}

body {
    background-image: url('projectimages/pexels-miguel-á-padriñán-19670.jpg'); /* Replace 'your-image.jpg' with the actual image file name and path */
    background-size: cover; /* Adjusts the image size to cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

header {
    background-color: #5be6eb;
    color: #200b1a;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

header a {
    color: #d8d0d0;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #c6e6f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px 0;
}

section h2 {
    font-size: 20px;
}

footer {
    background-color: #333;
    color: #666161;
    text-align: center;
    padding: 10px;
}

.horizontal-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-menu li {
    display: inline; /* Make list items display horizontally */
    margin-right: 20px; /* Add spacing between the items */
}

.horizontal-menu li:last-child {
    margin-right: 0; /* Remove the margin from the last item */
}
.horizontal-menu a {
    color: #06216b79; /* Change link text color to orange (#FF5733) */
    font-family: "Arial", sans-serif; /* Change font family to Arial or a preferred font */
    text-decoration: none; /* Remove underline from links */
}

.horizontal-menu a:hover {
    color: #5b0c888f; /* Change link color on hover */
}

.login-container {
    /* Your styles for the login container */
    background-color: #5be6eb;
    border: 1px solid #8aade0;
    padding: 20px;
}

.login-container h1 {
    /* Styles for the login header */
    color: #333;
}

.login-container form {
    /* Styles for the login form */
    background-color: #fff;
    padding: 10px;
}

.login-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.login-box {
    padding: 20px;
    background-color: #fff; /* Background color for the login box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
}
#line{
    width: auto;
    height: 2px;
    background-color: black;
    margin: auto;
}
#button{
    font-size: medium;
    text-decoration: none;
}