
body, html{
    height: 100%;
    text-decoration: none !important;
}
*{
    box-sizing: border-box;
}

.login{ 
    float: right;
    position: fixed;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-style: groove;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    
    text-decoration: none !important
    width: 30%;
    height: 520px;
    margin: 20px;
    margin-top: 40px;
}
.image{
    background-image: url(projectimages/moon.jpg);
    height: 1920px;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form{
    position: center;
    left: 20px;
    margin: 0px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    text-decoration: none !important
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
.button{
    background-color: #77c071;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.5;
    text-decoration: none !important;
}
.button:hover{
    opacity: 1;
}
#line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}
#p{
    /*put it in the center*/
}