
body, html{
    height: 100%;
}
*{
    box-sizing: border-box;
}

.header {
    padding: 20px;
    background-color: #D9D9D9;
}
.logo {
    height: 40px;
    margin: 0;
}
#title {
    text-align: center;
    margin-top: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.5;
}
li a:hover {
    opacity: 1;
}
.active {
    background-color: #111;
}

.login{ 
    float: right;
    position: absolute;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    border-style: groove;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    
    width: 30%;
    height: 520px;
    margin: 20px;
    margin-top: 40px;
}
.image{
    background-image: url(projectimages/moon.jpg);
    height: 1920px;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form{
    position: center;
    left: 20px;
    margin: 0px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    text-decoration: none !important
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus{
    background-color: #ddd;
    outline: none;
}
.button{
    background-color: #77c071;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.5;
    text-decoration: none !important;
}
.button:hover{
    opacity: 1;
}
#line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}
#p{
    /*put it in the center*/
}
#loginlink {
    float: right;
}